* {
  margin: 0;
  padding: 0;
  font-family: "Lexend", sans-serif;
}

body {
  background-image: url(https://cdn.wallpapersafari.com/86/13/9KfAMN.jpg);
  background-size: 100%;
  height: 100%;
}

article {
  padding: 20px;
  height: 77vh;
  display: flex;
  justify-content: space-around;
}

/* header */
header {
  height: 20vh;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  align-items: center;
}

.headerLogo {
  height: 110%;
}

tripform button,
.bookTrip {
  font-size: 30px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
  background-color: lightskyblue;
}


.bookTrip>span {
  padding: 15px;
}

.userInfo {
  width: 50%;
  height: 75%;
  background-color: rgb(250, 250, 250, .6);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 30px;
  border: 2px solid black;
  padding-left: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.welcomeUserDisplay {
  font-size: 50px;
}

.totalMoneySpentDisplay {
  font-size: xx-large;
}

/* trip display */
.tripImage {
  height: 100%;
  border-radius: 20px;
}

.cardRowInfo {
  font-size: 22px;
  padding: 10px;
}

.row {
  display: flex;
  width: 35%;
  justify-content: space-around;
  flex-direction: row;
}

.loginRow {
  width: 80%;
  align-items: center;
}

.tripCard {
  display: flex;
  padding: 15px;
  margin: 15px;
  border: 2px solid black;
  border-radius: 30px;
  background-color: rgb(250, 250, 250, .8);
  font-size: large;
}

.upcomingTrips,
.pastTrips {
  border: 2px solid black;
  width: 40%;
  font-size: 40px;
  overflow: auto;
  background-color: rgba(216, 212, 212, 0.6);
  border-radius: 30px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.upcomingTrips>h4,
.pastTrips>h4 {
  text-align: center;
  font-size: xx-large;
  
}

/* book trip form*/
.dataEntry {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  height: 50vh;
  width: 50vw;
  padding: 50px 0;
  border: 2px solid black;
  border-radius: 30px;
  background-color: rgb(250, 250, 250, .8);
  font-size: 30px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

.cancelButton:hover, .noButton:hover {
  background-color: pink
}

#loginForm * {
  margin-bottom: 10px;
}

#loginForm {
  background-color: rgba(154, 166, 164, 0.8);
}

.loginErr {
  visibility: hidden;
  color: black;
  text-shadow: 0 0 3px #FF0000;
}

.small {
  width: 25%;
}

.dataEntry input,
.dataEntry button {
  font-size: 20px;
}

.destPicker {
  width: 350px;
  font-size: 20px;
}

#confirmTripForm,
#addTripForm, dashboard {
  visibility: hidden;
}